body
{
	background-image: url(../uploads/adminbackground.jpg);
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: 100% 100%;
	/*color: blue;*/
}

.container
{
	background-color: rgba(255, 255, 255, 0.9);
}